.box{
    display: flex;
    flex-direction: column;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button{
     width: 100px;
     height: 30px;
     border-radius: 5px;
    background-color: red;
}